#ignore her
data/checkpoints_df
data/checkpoints
data/checkpoints_ae
data/test_img
data/syn_train_one_font
data/scae_inputs.pkl
data/scae_small_images.pkl
data/test_inputs.pkl
data/test_labels.pkl
data/train_inputs.pkl
data/train_labels.pkl
data/df_sample_test_inputs.pkl
data/df_sample_train_inputs.pkl
data/df_sample_test_inputs_uncropped.pkl
data/df_sample_train_inputs_uncropped.pkl
data/scae_real_inputs1.pkl
model/weights/weihts.h5
data/test_inputs.hdf5
data/test_labels.hdf5
data/scae_synethetic_inputs.hdf5
data/train_inputs.hdf5
data/train_labels.hdf5
data/crops